<%- include('./partials/header') %>
<div class="checkEmail">
  <h1 >HistoryView</h1>
  <h1><%=post.title%></h1>
  <% if(postHistory && postHistory.length){%>
    <% for(let edit of postHistory){%>
      <h4>EditedBy: <%=edit.author%></h4>
      <h4>Old Content created at: <%=edit.lastEditTime%></h4>
      <h4>Old Content: <%=edit.oldContent%></h4>
      <% }%>

    <% }%>
  <a href="/user/newsfeed/<%=userId%>">Go Back</a>

</div>
<%- include('./partials/footer') %>
