<%- include('./partials/header') %>
<div class='container'>
  <div class='container'>
<h1><%=user.username%></h1>
<% if(user.admin){%>
  <form  id="body" action="/user/addAdmin?_method=PUT" method="POST">
  <label for="content">Add Collaborator</label>
  <select name="admin" id="admin">
    <% if(users && users.length){%>
    <% for(let notAdmin of users){%>
      <option value="<%=notAdmin.id%>"><%=notAdmin.username%></option>
      <% }%>
  </select>
  <button type="submit" class="btn btn-primary">Add Collaborator</button>
</form>
  <% }%>
<form  id="body" action="/user/updateCollaborators?_method=PUT" method="POST">
  <label for="content">Add Collaborator</label>
  <select name="addCollaborator" id="addCollaborator">
    <% if(collaboratorsToAdd && collaboratorsToAdd.length){%>
    <% for(let collaborator of collaboratorsToAdd){%>
      <option value="<%=collaborator.id%>"><%=collaborator.username%></option>
      <% }%>
  </select>
  <button type="submit" class="btn btn-primary">Add Collaborator</button>
</form>
  <% }%>
  <% if(collaboratorsToRemove && collaboratorsToRemove.length){%>
  <form  id="body" action="/user/updateCollaborators?_method=PUT" method="POST">
  <label for="content">Remove Collaborator</label>
  <select name="removeCollaborator" id="removeCollaborator">
    <% for(let collaborator of collaboratorsToRemove){%>
      <option value="<%=collaborator.id%>"><%=collaborator.username%></option>
      <% }%>
  </select>
  <button type="submit" class="btn btn-primary">Remove Collaborator</button>
  <% }%>
</form>
<form  action="/posts/new" method="GET">
  <button type='submit' href='/posts/new' class="btn btn-link">Create new post</a>
</form>
</div>
<% if(posts && posts.length){%>
  <% for(let post of posts){%>
  <div class='container'>
    <h4><%=post.title%></h4>
    <p><%=post.content%></p>
    <p><%=post.createdTime%></p>
    <form action="/comments/delete" method="DELETE">
      <button type='submit' href='/posts/edit' class="btn btn-link">Edit post</a>
    </form>
    <form action="/posts/edit" method="GET">
      <button type='submit' href='/posts/delete?_method=DELETE' class="btn btn-link">Delete Post</a>
    </form>
  </div>
  <form id="body" action="/comments/new" method="POST">
    <div class="mb-3">
      <label for="content">Your comment</label>
      <input type ="hidden" id="postId" name ="postId" value="<%=post.id%>" />
      <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add comment</button>
  </form>
  <% if(comments && comments.length){%>
    <% for(comment of comments){%>
      <% if(comment.postId===post.id){%>
      <p><%=comment.content%></p>
      <p><%=comment.createdTime%></p>
      <% }%>
      <% }%>
      <% }%>
<% }%>
<% }%>
</div>
<%- include('./partials/footer') %>
