<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>post_app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" 
        crossorigin="anonymous">    
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/user/home/<%=user.id%>">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/user/newsfeed/<%=user.id%>">Newsfeed </a>
      </li>
      <li class="nav-item active" >
        <a class="nav-link" href="/">Logout </a>
      </li>
  </div>
</nav>
<div class="userHome">
  <h1>Hello <%=user.username%>!</h1>
  <h2>Your posts: </h2>
  <form  action="/posts/new" method="GET">
    <button type='submit' href='/posts/new' class="btn btn-link">Create new post</button>
  </form>
      <% if(collaboratorsToAdd && collaboratorsToAdd.length){%>
        <form  id="body" action="/collaborators/add" method="POST">
          <label for="collaboratorId">Add Collaborator</label>
          <select name="collaboratorId" id="collaboratorId">
      <% for(let collaborator of collaboratorsToAdd){%>
        <option name="collaboratorId" id="collaboratorId" value="<%=collaborator.id%>" ><%=collaborator.username%></option>
        <% }%>
    </select>
    <button type="submit" class="btn btn-primary">Add Collaborator</button>
  </form>
    <% }%>
    <% if(collaboratorsToRemove && collaboratorsToRemove.length){%>
    <form  id="body" action="/collaborators/remove?_method=DELETE" method="POST">
      <label for="collaboratorId">Remove Collaborator</label>
      <select name="collaboratorId" id="collaboratorId">
  <% for(let collaborator of collaboratorsToRemove){%>
    <option name="collaboratorId" id="collaboratorId" value="<%=collaborator.id%>" ><%=collaborator.username%></option>
    <% }%>
</select>
    <button type="submit" class="btn btn-primary">Remove Collaborator</button>
    <% }%>
  </form>
    <% if(posts && posts.length){%>
      <% for(let post of posts){%>
        <h4><%=post.title%></h4>
      <p><%=post.content%></p>
    <% if(!post.edited){%>
      <p>Created: <%=post.createOrEditTime%></p>
      <% } else {%>
        <p>Edited: <%=post.createOrEditTime%></p>
        <% }%>
      <form id="body" action="/comments/new" method="POST">
        <div class="mb-3">
          <label for="content">Your comment</label>
          <input type ="hidden" id="postId" name ="postId" value="<%=post.id%>" />
          <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add comment</button>
      </form>
      <% if(comments && comments.length){%>
        <% for(let comment of comments){%>
          <% if(comment.postId===post.id){%>
          <p><%=comment.content%></p>
          <p>author: <%=comment.author%></p>
          <p>Created: <%=comment.createTime%></p>
          <% }%>
          <% }%>
          <% }%>
        <% }%>
        <% }%>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
        crossorigin="anonymous">
</script>
</body>
</html>